/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #325b74; /* Pantone Midnight - Fall 2022 */
$presentation-title-slide-text-align: "left";
$link-color: #325b74;
$code-block-font-size: 0.7em;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

#title-slide .subtitle {
  color: #464a53;
  font-weight: bold;
  text-align: center;
}

#title-slide .title {
  text-align: center;
  color: #464a53;
}

#title-slide .author {
  text-align: center;
}

#title-slide .institute {
  text-align: center;
}

.small {
  font-size: 0.75em;
}

.small {
  font-size: 1.5em;
}


.reveal .hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2em
}

.reveal .slide .task {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #F1DE67;
  background-color: #F1DE6750;
}
.reveal .slide .poll {
  border-left: 3px solid #fcd06b; /* Pantone Samoan Sun - Fall 2022 */
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #FFEDC2;
}

.reveal .slide .appex {
  border-left: 3px solid #1f7349; /* Pantone Amazon - Fall 2022 */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #EBF7FF;
}
